{
  "start_date": "2024-01-01T00:00:00Z",
  "username": "you@your-org.com",
  "password": "<YOUR_JIRA_API_TOKEN>",
  "base_url": "https://your-org.atlassian.net",
  "user_agent": "tap-jira-test (you@your-org.com)",
  "request_timeout": 300
}
